[Unit]
Description=NexusOps SentinelAgent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/nexusops-sentinel-agent

Restart=on-failure
RestartSec=5s

KillSignal=SIGTERM
TimeoutStopSec=15s

DynamicUser=yes

StateDirectory=nexusops-sentinel
StateDirectoryMode=0750

Environment=NEXUSOPS_SENTINEL_SPOOL_PATH=/var/lib/nexusops-sentinel/telemetry.db
EnvironmentFile=-/etc/nexusops-sentinel/sentinel.conf

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ProtectHostname=yes
RestrictSUIDSGID=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes

CapabilityBoundingSet=
AmbientCapabilities=

UMask=0077

StandardOutput=journal
StandardError=journal
SyslogIdentifier=nexusops-sentinel

[Install]
WantedBy=multi-user.target