SERVICECORE_DB_NAME=servicecore
SERVICECORE_DB_USER=servicecore
SERVICECORE_DB_PASSWORD=change_me
SERVICECORE_DB_PORT=5433

OPSSIGHT_DB_NAME=opssight
OPSSIGHT_DB_USER=opssight
OPSSIGHT_DB_PASSWORD=change_me
OPSSIGHT_DB_PORT=5434

OPSSIGHT_RABBITMQ_USER=opssight
OPSSIGHT_RABBITMQ_PASSWORD=change_me
OPSSIGHT_RABBITMQ_PORT=5672
OPSSIGHT_RABBITMQ_MANAGEMENT_PORT=15672